@import url("http://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap");
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
}
body{
    display: flex;
    justify-content:center;
    align-items: flex-start;
    min-height: 100vh;
    background: url(img/b1.jfif);
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    position: relative;
    margin: 0;
    font-size: 4em;
    font-weight: 900;
    color: #fff;
    z-index: 1;
    overflow: hidden;
   
}
h1:before{
    content: "";
    position: absolute;
    left: 0;
    width: 120%;
    height: 100%;
    background: linear-gradient(90deg,transparent 0%,#000 5%,#000 100%);
    animation: animate 5.5s linear forwards;
    
}
@keyframes animate{
    0%{
        left: 0%
    }
     100%{
        left: 110%
    }
     200%{
        left: 120%
    }
}
h1 span{
    color: #FAED26;
}

.box img{
     grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
    width: 200px;
    height: 200px;
    margin-top: 200;
    margin-right: 100;
    transition: all 1s;
}
.box img:hover{
    transform: scale(1.1);
}
.box{
     width: 450px;
    background: rgba(0,0,0,0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 15%;
    color: white;
    font-family: 'Concert One', cursive;
}